html
    font-family: 'Microsoft YaHei'
    background: #f2f2f2
    .clearfix
        content: ''
        display: table
        clear: both
    .header
        background: orange
        width:100%
        line-height: 40px
        box-sizing: border-box
        padding-left: 20%
        li
            float: left
            margin: 0 20px
// h3
//     color green

// dt
//     float left
//     margin 0 20px
//     display inline-block
//     width 150px
//     text-align right
// dd
//     margin-left 200px