<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Try CSS3</title>
    <meta name="description" content="some css3 exercise - hollowtree">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <section class="links">
        <p>Filter Effects: <a href="./filter-effects.html" target="_blank">filter-effects</a></p>
    </section>
    <section class="demo1">
        <p>鼠标悬停：<a href="#"><span>回到<br />顶部</span></a></p>
    </section>
    <section class="demo2">
        <label>鼠标点击：<input type="text" placeholder="文本输入框" /></label>
    </section>
    <section class="demo4"></section>

    <section class="demo8"></section>
    <section class="demo9"></section>

    <section class="demo11">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
        <div class="box6"></div>
        <div class="box7"></div>
    </section>

    <section class="demo13">
        <div class="box1">
            <div class="sub-box">
                <div class="box3-play"></div>
                <div class="box3-prev"></div>
                <div class="box3-next"></div>
                <div class="box3-add"></div>
                <div class="box3-sub"></div>
            </div>
        </div>
        <div class="box2">
            <div class="sub-box"></div>
        </div>
        <div class="box3">
            <div class="sub-box"></div>
        </div>
    </section>
    <section class="demo14">
        <span>鼠标悬停：</span>
        <p>Hello World!</p>
    </section>
    <section class="demo15">
        <p>Hello World!</p>
    </section>


</body>

</html>