<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content=" by hollowtree">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <section class="demo3"></section>
    <section class="demo5"></section>
    <section class="demo6"></section>
    <section class="demo7"></section>
    <section class="demo10 clearfix">
        <div>
            鼠标悬停：
        </div>
        <div class="box1"></div>
        <div class="box2"></div>
    </section>
    <section class="demo12">
        <div class="box1">
        </div>
    </section>
</body>

</html>