<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>模拟相册</title>
        <link rel="stylesheet" type="text/css" href="../style/reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="album" class="album"></div>
        <div id="panel" class="panel">
            <form>
                <select id="albumType" class="album-type">
                    <option value="" selected="selected">拼图布局</option>
                    <option value="" selected="selected">散列布局</option>
                    <option value="" selected="selected">木桶布局</option>
                    <option value="" selected="selected">瀑布布局</option>
                </select>
            </form>
        </div>
    </body>
</html>
