<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>模拟对话框</title>
        <link rel="stylesheet" type="text/css" href="../style/reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="talkShow">
            <div id="content">
                <p class="l-talk">Hi!</p>
                <p class="r-talk">Hi!</p>
                <p class="l-talk">We must accept finite disappointment, but we must never lose infinite hope.</p>
                <p class="r-talk">我们必须接受失望，因为它是有限的，但千万不可失去希望，因为它是无穷的。</p>
                <p class="l-talk">The best preparation for tomorrow is doing your best today.</p>
                <p class="r-talk">今天尽力是准备明天最好的方式。</p>
                <p class="l-talk">The lake is like an open book, day like the steady gaze of a reader.</p>
                <p class="r-talk">湖泊像一本翻开的书，白昼像一位读者恒久的凝视。</p>
                <p class="l-talk">Our life is a movement, a tendency, a steady, ceaseless progress towards an unseen goal.</p>
                <p class="r-talk">生命是一种运动，一种趋势，一个稳步、持续地通往一个不可见的目标的过程。</p>
                <p class="l-talk">Believe there is a great power silently working all things for good, behave yourself and never mind the rest.–Beatrix Potter</p>
                <p class="r-talk">相信有个伟大的力量在暗中从事一切善行，注意自己的行为，不要管其它的。–碧雅翠丝·波特</p>
            </div>
            <div id="scrollBar"></div>
        </div>
        <script src="../script/eventutil.js"></script>
        <script src="demo.js"></script>
    </body>
</html>
