<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SVG Basic</title>
    <style type="text/css">
        body{
            text-align:center;
        }
    </style>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="300" viewBox="0 0 1000 300" preserveAspectRadio="xMidYMid meet">
        <!--内部样式表-->
        <defs>
            <style type="text/css">

            </style>
        </defs>

        <!--外部样式表-->
        <?xml-stylesheet href="" typeof="text/css"?>
        
        <!------------------------------------------------------------------------------------------------------------------------------------------------>
        <!--矩形-->
        <!--宽100，高100，边框红色，内容白色，透明度为0.3，虚线中实色与空白长度依次为1、2、3、4，-->
        <!--stroke-dasharray 的数字个数应该为偶数，但如果指定的数字个数为奇数，则会被重复一遍，使得总个数为偶数-->
        <rect x="10" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.3; stroke-dasharray:1,2,3,4;"></rect>
        
        <!--圆角矩形-->
        <rect x="140" y="10" width="100" height="100" rx="30" ry="10" style="fill:white; stroke:red;"></rect>

        <!--圆-->
        <!--圆心 x、y 坐标，半径-->
        <circle cx="320" cy="60" r="50" style="fill:white; stroke:red;"></circle>

        <!--椭圆-->
        <!--圆心 x、y 坐标，x、y方向的半径-->
        <ellipse cx="470" cy="60" rx="80" ry="50" style="fill:white; stroke:red;"></ellipse>

        <!--多边形-->
        <!--一系列 x/y 坐标对，并用逗号或者空格分隔-->
        <polygon points="570,10 620,10 600,110" style="fill:white; stroke:red;"></polygon>

        <!--直线-->
        <line x1="640" y1="10" x2="660" y2="110" style="fill:white; stroke:red;"></line>

        <!--折线-->
        <polyline points="680,50 700,50 710,30 730,70 740,50 760,50" style="fill:white; stroke:red;"></polyline>
        <!------------------------------------------------------------------------------------------------------------------------------------------------>

        <!--填充效果 fill-rule -->
        <!--fill-rule     nonzero / evenodd-->
        <polygon points="60,140 100,240 10,180 110,180 20,240" style="fill:#abf; fill-rule:nonzero; stroke:red;"></polygon>
        <polygon points="160,140 200,240 110,180 210,180 120,240" style="fill:#abf; fill-rule:evenodd; stroke:red;"></polygon>

        <!--线段棱角交叉处的效果-->
        <!-- stroke-linejoin  miter / round / bevel -->
        <polyline points="240,170 260,140 280,170" style="fill:white; stroke:red; stroke-width:10px; stroke-linejoin:miter"></polyline>
        <polyline points="240,220 260,190 280,220" style="fill:white; stroke:red; stroke-width:10px; stroke-linejoin:round"></polyline>
        <polyline points="240,270 260,240 280,270" style="fill:white; stroke:red; stroke-width:10px; stroke-linejoin:bevel"></polyline>

        <!--线帽-->
        <!--stroke-linecap   butt / round / square -->
        <line x1="300" y1="160" x2="350" y2="160" style="fill:white; stroke:red; stroke-width:10px; stroke-linecap:butt;"></line>
        <line x1="300" y1="210" x2="350" y2="210" style="fill:white; stroke:red; stroke-width:10px; stroke-linecap:round;"></line>
        <line x1="300" y1="260" x2="350" y2="260" style="fill:white; stroke:red; stroke-width:10px; stroke-linecap:square;"></line>

        <!------------------------------------------------------------------------------------------------------------------------------------------------>
        <!--path-->
        <!--直线段 M L H V Z -->
        <path d="M380 140 L420 140 420 180 Z" style="stroke:red; fill:white;"></path>

        <!--椭圆弧 A-->
        <!--椭圆的x、y半径，x轴的旋转角度，0：圆弧角度小于180度，0：顺时针，终点的x、y坐标-->
        <!--SVG中弧形并不能单独存在，一般需要其成为线和曲线连接路径的一部分，通过终点指定弧形是合理的。-->
        <path d="M450 190 A50 25 0 1 1 500 220" style="stroke:yellow; stroke-width:2px; fill:white;"></path>
        <path d="M450 190 A50 25 0 1 0 500 220" style="stroke:green; stroke-width:2px; fill:white;"></path>
        <path d="M450 190 A50 25 0 0 0 500 220" style="stroke:red; stroke-width:2px; fill:white;"></path>
        <path d="M450 190 A50 25 0 0 1 500 220" style="stroke:blue; stroke-width:2px; fill:white;"></path>
        <!--半椭圆弧-->
        <path d="M600 190 A50 25 0 1 1 700 190" style="stroke:yellow; stroke-width:2px; fill:white;"></path>
        <path d="M600 190 A50 25 0 1 0 700 190" style="stroke:green; stroke-width:2px; fill:white;"></path>
        <path d="M750 165 A50 25 0 1 1 750 215" style="stroke:yellow; stroke-width:2px; fill:white;"></path>
        <path d="M750 165 A50 25 0 1 0 750 215" style="stroke:red; stroke-width:2px; fill:white;"></path>

        <!--贝塞尔曲线--><!--标记-->
        <!--二次贝塞尔曲线 Q T-->
        <path d="M820 40 Q850 70 880 40" style="stroke:red; stroke-width:2px; fill:white;"></path>
        <path d="M820 80 Q850 110 880 80,910 110 940 80" style="stroke:red; stroke-width:2px; fill:white;"></path>
        <path d="M820 120 Q850 150 880 120 T940 120" style="stroke:red; stroke-width:2px; fill:white;"></path>
        <!--三次贝塞尔曲线 C S-->
        <path d="M820 160 C850 130 870 130 920 160" style="stroke:red; stroke-width:2px; fill:white;"></path>
        <path d="M820 200 C850 170 870 170 920 200 S950 180 980 200" style="stroke:red; stroke-width:2px; fill:white;"></path>

        <!--marker-->
        <defs>
            <marker id="mCircle" markerWidth="6" markerHeight="6" refX="3" refY="3">
                <circle cx="3" cy="3" r="2" style="fill:none; stroke:black;"></circle>
            </marker>
            <marker id="mArray" markerWidth="6" markerHeight="6" refX="3" refY="3" orient="auto">
                <path d="M0 0 3 3 0 6" style="fill:none; stroke:black;"></path>
            </marker>
            <marker id="mTriangle" markerWidth="6" markerHeight="6" refX="3" refY="3" orient="auto">
                <path d="M0 0 3 3 0 6 Z" style="fill:none; stroke:black;"></path>
            </marker>
        </defs>
        <path d="M820 240 C850 230 860 220 900 240 S930 190 990 240" style="marker-start:url(#mCircle); marker-mid:url(#mArray); marker-end:url(#mTriangle); stroke:red; stroke-width:1px; fill:white;"></path>
    </svg>
    <hr />


    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="200" viewBox="0 0 1000 200" preserveAspectRadio="xMidYMid meet">
        <g stroke="red" fill="none">
            <defs>
                <linearGradient id="grad" x1="0" y1="0" x2="1" y2="1">
                    <stop offset="0" stop-color="#ffffff" />
                    <stop offset="1" stop-color="#aabbff" />
                </linearGradient>
            </defs>
            <rect id="box1" x="10" y="10" rx="5" ry="5" width="150" height="150" stroke="red" fill="url(#grad)">
            </rect>

            <defs>
                <radialGradient id="grad2" cx="0.5" cy="0.5" r="0.5" fx="0.8" fy="0.5">
                    <stop offset="0" stop-color="#ffffff" />
                    <stop offset="1" stop-color="#aaafff" />
                </radialGradient>
            </defs>
            <rect id="box2" x="200" y="10" rx="5" ry="5" width="300" height="150" stroke="red" fill="url(#grad2)">
            </rect>
        </g>
    </svg>


    <hr />


    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="150" viewBox="0 0 1000 150" preserveAspectRadio="xMidYMid meet">
        <title>动画</title>
        <rect x="10" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.3; stroke-dasharray:1,2,3,4;">
            <animate attributeName="width" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="height" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="x" attributeType="XML" from="10" to="35" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="y" attributeType="XML" from="10" to="35" begin="0s" dur="2s" fill="freeze"></animate>
        </rect>

        <circle cx="220" cy="60" r="50" style="fill:white; stroke:red;">
            <animate id="c1" attributeName="r" from="50" to="20" begin="2s" dur="4" fill="freeze"></animate>
        </circle>
        <circle cx="320" cy="60" r="50" style="fill:white; stroke:red;">
            <animate attributeName="r" from="50" to="20" begin="c1.end+1s" dur="4" fill="freeze"></animate>
        </circle>

        <rect x="410" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.3; stroke-dasharray:1,2,3,4;">
            <animate attributeName="width" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="height" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="x" attributeType="XML" from="410" to="435" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="y" attributeType="XML" from="10" to="35" begin="0s" dur="2s" fill="freeze"></animate>
            <animate attributeName="stroke" attributeType="CSS" from="red" to="blue" begin="2s" dur="5s" fill="freeze"></animate>
        </rect>

        <!--repeatCount重复动画次数  repeatDur重复动画时间-->
        <rect x="520" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.3; stroke-dasharray:1,2,3,4;">
            <animate attributeName="width" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="remove" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" from="100" to="50" begin="0s" dur="2s" fill="remove" repeatDur="indefinite"></animate>
            <animate attributeName="x" attributeType="XML" from="520" to="545" begin="0s" dur="2s" fill="remove" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" from="10" to="35" begin="0s" dur="2s" fill="remove" repeatCount="indefinite"></animate>
        </rect>

        <!--end 拦截动画-->
        <rect x="630" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.3; stroke-dasharray:1,2,3,4;">
            <animate attributeName="width" attributeType="XML" from="100" to="50" begin="0s" dur="5s" end="3s" fill="freeze"></animate>
            <animate attributeName="height" attributeType="XML" from="100" to="50" begin="0s" dur="5s" end="3s" fill="freeze"></animate>
            <animate attributeName="x" attributeType="XML" from="630" to="655" begin="0s" dur="5s" end="3s" fill="freeze"></animate>
            <animate attributeName="y" attributeType="XML" from="10" to="35" begin="0s" dur="5s" end="3s" fill="freeze"></animate>
        </rect>

        <rect x="740" y="10" width="100" height="100" style="fill:white; stroke:red; stroke-width:4px; stroke-opacity:0.8; stroke-dasharray:1,2,3,4;">
            <animate attributeName="stroke" attributeType="CSS" begin="0s" dur="10s" values="red; blue; green; yellow;" fill="freeze"></animate>
        </rect>

    </svg>
    <hr />

    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="500" viewBox="0 0 1000 500" preserveAspectRadio="xMidYMid meet">
        <!--蓝天-->
        <rect x="0" y="0" width="1000" height="500" style="fill:#80A9EC;fill-opacity:1;">
            <animate attributeName="fill-opacity" attributeType="CSS" begin="0s" dur="5s" values="1;0.4;1" repeatCount="indefinite"></animate> 
        </rect>
        <!--绿地-->
        <path d="M0,350 L0,500 1000,500 1000,380 C700,280 400,380 0,350" style="fill:#3BB374;"></path>
        <!--正面的墙-->
        <rect x="600" y="270" width="150" height="100" style="fill:#C6EA86"></rect>
        <!--门-->
        <path d="M690,310 v60 h40 v-60 A20 20 0 1 0 690 310" style="stroke:#fff;fill:none;"></path>
        <!--侧面的墙-->
        <path d="M750,270 v100 l75,-10 v-100 l-35,-40 -40,50" style="fill:#ddd"></path>
        <!--屋顶-->
        <path d="M600,270 h150 l40-50 h-150 l-40 50" style="fill:#444;"></path>
        <!--太阳-->
        <circle cx="0" cy="0" r="30" style="fill:#EFEF41">
            <animateMotion path="M-100,100 Q500,0 1100,100" begin="0s" dur="5s" repeatCount="indefinite"></animateMotion>
        </circle>
    </svg>
    <hr />

</body>
</html>
