<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo4</title>
    <meta name="description" content="copyright by hollowtree">
    <style>
        body{
            margin: 0;
        }
        .sub-box4{
            width: 50vw;
            height: 50vh;
            background-color: #44a277;
            margin: 50vh auto 0;
            transform: translateY(-50%);
        }
        /*margin-bottom不设为0时，页面会出现滚动条*/
    </style>
</head>

<body>
    <div class="sub-box4"></div>
</body>

</html>